<html>
  <body>
    <div>
      <p style="color: black"><%= type %></p>
      <p style="color: black">comment id: <%= commentId %></p>
      <p style="color: black">post id: <%= postId %></p>
      <p style="color: black"><%= text %></p>
      <p style="color: black"><%= reporterId %></p>
    </div>
  </body>
</html>
