<html>
  <body>
    <div>
      <p style="color: black"><%= type %></p>
      <p style="color: black"><%= postId %></p>
      <p style="color: black"><%= title %></p>
      <p style="color: black"><%= contents %></p>
      <p style="color: black"><%= reporterId %></p>
    </div>
  </body>
</html>
